<div>
    <h2>Add Doctor</h2>
    <form [formGroup]="doctorRef" (ngSubmit)="saveDoctorDetails()">
        <label> Name : </label>
        <input type="text" formControlName="dname"><br/> <br/>
        <label> Age : </label>
        <input type="number" formControlName="dage"><br/> <br/>
        <label> Gender :  </label>
        <input type="gender" formControlName="dgender"><br/><br/>
        <label> Specialization : </label>
        <input type="text" formControlName="spec"><br/><br/>
        <label> Mobile Number :  </label>
        <input type="number" formControlName="phno"><br/><br/>
        <label> Email id : </label>
        <input type="text" formControlName="email"><br/><br/>
        <label> Address : </label>
        <input type="text" formControlName="address"><br/><br/>
        <input type="submit" value="Save Doctor"/><br/>
        <input type="reset" value="reset"/><br/>
    </form><br/>
    <span style="color:green">{{storeMsg}}</span>
</div>